In [1]:
import pandas as pd
import os
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import LinearSVR
from sklearn.svm import SVR

In [2]:
# StandarizedRunway32 | PCARunway32 | StandarizedRunway18  | PCARunway18
dataset = 'PCARunway32.csv'

In [3]:
# Path con los datasets iniciales
#os.chdir('D:/Documents/UPM/Actual/TFG/LEMD/DataSets')
#os.chdir('C:/Users/aalfaro/Documents/Meteo/TFG/LEMD/DataSets')

os.chdir('/home/crida/notebooks/Meteo TFG Adrian/Datasets')

#pd.options.display.max_rows = 200
#pd.options.display.max_columns = 50

#pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [4]:
df = pd.read_csv(dataset, header = 0, decimal = ',', sep = ';')
df

,threshold_separation,0,1,2,3,4,5,6,7,8,9
0,4.549984,-1.804886,1.133685,-2.137942,1.302597,-0.317661,-0.360252,1.534981,-1.198028,1.324067,-1.294057
1,7.301271,-1.852217,1.157554,-1.808590,1.195718,-0.195919,-0.165585,0.777213,-0.482541,-0.077994,-0.278638
2,11.165620,-1.819400,1.056051,-2.194035,1.311567,0.060222,0.101954,0.145174,0.003649,-0.085783,0.108939
3,4.485055,-1.846906,1.134366,-1.932873,1.226929,-0.117933,-0.434605,1.081362,2.334074,0.520167,-1.226675
4,4.462536,-1.787726,0.975369,-2.544367,1.415456,0.243610,0.284158,-0.239561,0.245998,-0.065172,0.274369
...,...,...,...,...,...,...,...,...,...,...,...
55222,6.137123,-1.831997,0.898585,-1.801295,1.094508,-0.074166,0.010041,0.618513,-0.681769,-0.339695,-0.470735
55223,6.956980,-1.930480,1.170384,-0.456243,0.749209,-0.843761,-0.780117,2.316297,-1.106373,3.456839,-1.539166
55224,5.514888,-1.891279,1.027651,-0.999592,0.900539,-0.428695,-0.333982,1.225570,-0.390831,2.479556,-0.743425
55225,4.829517,-1.848150,0.957218,-1.451756,1.025280,-0.311486,-0.245155,1.191013,-0.643097,2.161459,-0.961724
55226,5.864628,-1.893003,1.020310,-1.054465,0.903538,-0.363859,-0.258367,1.034628,-0.405807,1.472119,-0.533096

In [5]:
X = df.drop(['threshold_separation'], axis=1)
y = df['threshold_separation']

In [6]:
# Regresion lineal
lr = LinearRegression()
params = {
    'fit_intercept': [True]
}

model = GridSearchCV(
    estimator = lr,
    param_grid = params,
    scoring = ['neg_root_mean_squared_error', 'r2', 'explained_variance', 'neg_mean_squared_log_error', 'neg_mean_poisson_deviance'], 
    refit = 'neg_root_mean_squared_error',
    cv = 5,
    n_jobs = 5
)

model.fit(X, y)

GridSearchCV(cv=5, estimator=LinearRegression(), n_jobs=5,
             param_grid={'fit_intercept': [True]},
             refit='neg_root_mean_squared_error',
             scoring=['neg_root_mean_squared_error', 'r2', 'explained_variance',
                      'neg_mean_squared_log_error',
                      'neg_mean_poisson_deviance'])

In [7]:
a = pd.concat([pd.DataFrame(model.cv_results_["params"])
              ,pd.DataFrame(model.cv_results_['rank_test_neg_root_mean_squared_error'], columns=['Rank'])
              ,pd.DataFrame(model.cv_results_['mean_fit_time'], columns=['Fit Time'])
              ,pd.DataFrame(model.cv_results_['mean_score_time'], columns=['Score Time'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_root_mean_squared_error'], columns=['RMSE'])
              ,pd.DataFrame(model.cv_results_['mean_test_r2'], columns=['R2'])
              ,pd.DataFrame(model.cv_results_['mean_test_explained_variance'], columns=['EV'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_squared_log_error'], columns=['MSLE'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_poisson_deviance'], columns=['MPD'])]
              ,axis=1)

a = a.sort_values(by = ['Rank', 'Score Time'], ascending=True)
a.to_csv('Results/32PCA-LR.csv', decimal = ',', sep = ';', index = False)

a

,fit_intercept,Rank,Fit Time,Score Time,RMSE,R2,EV,MSLE,MPD
0,True,1,0.012483,0.003199,-1.820573,0.034542,0.038517,-0.05824,-0.508582

In [8]:
# KNN
knn = KNeighborsRegressor()
params = {
    'n_neighbors': [10, 20, 30, 40],
    'weights': ['distance', 'uniform'],
    'metric': ['minkowski'], 
    'p': [2]
}

model = GridSearchCV(
    estimator = knn,
    param_grid = params,
    scoring = ['neg_root_mean_squared_error', 'r2', 'explained_variance', 'neg_mean_squared_log_error', 'neg_mean_poisson_deviance'], 
    refit = 'neg_root_mean_squared_error',
    cv = 5,
    n_jobs = 5
)

model.fit(X, y)

GridSearchCV(cv=5, estimator=KNeighborsRegressor(), n_jobs=5,
             param_grid={'metric': ['minkowski'],
                         'n_neighbors': [10, 20, 30, 40], 'p': [2],
                         'weights': ['distance', 'uniform']},
             refit='neg_root_mean_squared_error',
             scoring=['neg_root_mean_squared_error', 'r2', 'explained_variance',
                      'neg_mean_squared_log_error',
                      'neg_mean_poisson_deviance'])

In [9]:
b = pd.concat([pd.DataFrame(model.cv_results_["params"])
              ,pd.DataFrame(model.cv_results_['rank_test_neg_root_mean_squared_error'], columns=['Rank'])
              ,pd.DataFrame(model.cv_results_['mean_fit_time'], columns=['Fit Time'])
              ,pd.DataFrame(model.cv_results_['mean_score_time'], columns=['Score Time'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_root_mean_squared_error'], columns=['RMSE'])
              ,pd.DataFrame(model.cv_results_['mean_test_r2'], columns=['R2'])
              ,pd.DataFrame(model.cv_results_['mean_test_explained_variance'], columns=['EV'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_squared_log_error'], columns=['MSLE'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_poisson_deviance'], columns=['MPD'])]
              ,axis=1)

b = b.sort_values(by = ['Rank', 'Score Time'], ascending=True)
b.to_csv('Results/32PCA-KNN.csv', decimal = ',', sep = ';', index = False)

b

,metric,n_neighbors,p,weights,Rank,Fit Time,Score Time,RMSE,R2,EV,MSLE,MPD
6,minkowski,40,2,distance,1,0.060083,1.142146,-1.801026,0.054943,0.061200,-0.057356,-0.496560
7,minkowski,40,2,uniform,2,0.054880,0.961582,-1.803270,0.052611,0.059022,-0.057530,-0.497871
4,minkowski,30,2,distance,3,0.059366,1.042872,-1.805747,0.049950,0.055992,-0.057660,-0.499362
5,minkowski,30,2,uniform,4,0.054794,0.939944,-1.807488,0.048139,0.054306,-0.057799,-0.500399
2,minkowski,20,2,distance,5,0.050490,0.702273,-1.816772,0.038247,0.044054,-0.058383,-0.505809
3,minkowski,20,2,uniform,6,0.058894,0.893020,-1.817846,0.037129,0.043036,-0.058474,-0.506471
1,minkowski,10,2,uniform,7,0.061322,0.702721,-1.854485,-0.002165,0.003458,-0.060983,-0.527864
0,minkowski,10,2,distance,8,0.075009,0.704130,-1.854813,-0.002532,0.003012,-0.060981,-0.527986

In [10]:
# Random Forest Regression
rfr = RandomForestRegressor(random_state = 1)
params = {
    'n_estimators': [100, 150, 200],
    'criterion': ['mse'],
    'max_depth': [None, 10, 12],
    'max_leaf_nodes': [None],
    'bootstrap': [True],
    'max_features': [0.5],
    'min_samples_split': [10, 15], 
    'min_samples_leaf': [5, 10]
}

model = GridSearchCV(
    estimator = rfr,
    param_grid = params,
    scoring = ['neg_root_mean_squared_error', 'r2', 'explained_variance', 'neg_mean_squared_log_error', 'neg_mean_poisson_deviance'], 
    refit = 'neg_root_mean_squared_error',
    cv = 5,
    n_jobs = 5
)

model.fit(X, y)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=1), n_jobs=5,
             param_grid={'bootstrap': [True], 'criterion': ['mse'],
                         'max_depth': [None, 10, 12], 'max_features': [0.5],
                         'max_leaf_nodes': [None], 'min_samples_leaf': [5, 10],
                         'min_samples_split': [10, 15],
                         'n_estimators': [100, 150, 200]},
             refit='neg_root_mean_squared_error',
             scoring=['neg_root_mean_squared_error', 'r2', 'explained_variance',
                      'neg_mean_squared_log_error',
                      'neg_mean_poisson_deviance'])

In [11]:
c = pd.concat([pd.DataFrame(model.cv_results_["params"])
              ,pd.DataFrame(model.cv_results_['rank_test_neg_root_mean_squared_error'], columns=['Rank'])
              ,pd.DataFrame(model.cv_results_['mean_fit_time'], columns=['Fit Time'])
              ,pd.DataFrame(model.cv_results_['mean_score_time'], columns=['Score Time'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_root_mean_squared_error'], columns=['RMSE'])
              ,pd.DataFrame(model.cv_results_['mean_test_r2'], columns=['R2'])
              ,pd.DataFrame(model.cv_results_['mean_test_explained_variance'], columns=['EV'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_squared_log_error'], columns=['MSLE'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_poisson_deviance'], columns=['MPD'])]
              ,axis=1)

c = c.sort_values(by = ['Rank', 'Score Time'], ascending=True)
c.to_csv('Results/32PCA-RFR.csv', decimal = ',', sep = ';', index = False)

c

,bootstrap,criterion,max_depth,max_features,max_leaf_nodes,min_samples_leaf,min_samples_split,n_estimators,Rank,Fit Time,Score Time,RMSE,R2,EV,MSLE,MPD
26,True,mse,12.0,0.5,None,5,10,200,1,25.485872,0.148761,-1.763574,0.093913,0.099990,-0.054085,-0.473709
8,True,mse,NaN,0.5,None,10,10,200,2,34.529852,0.230091,-1.763602,0.093768,0.099907,-0.054132,-0.473710
11,True,mse,NaN,0.5,None,10,15,200,2,34.538122,0.230283,-1.763602,0.093768,0.099907,-0.054132,-0.473710
35,True,mse,12.0,0.5,None,10,15,200,4,23.956518,0.138346,-1.763734,0.093753,0.099823,-0.054052,-0.473772
32,True,mse,12.0,0.5,None,10,10,200,4,27.131846,0.153970,-1.763734,0.093753,0.099823,-0.054052,-0.473772
29,True,mse,12.0,0.5,None,5,15,200,6,25.406908,0.147223,-1.763754,0.093726,0.099781,-0.054115,-0.473830
31,True,mse,12.0,0.5,None,10,10,150,7,20.351524,0.116195,-1.763834,0.093649,0.099715,-0.054061,-0.473826
34,True,mse,12.0,0.5,None,10,15,150,7,20.360336,0.116298,-1.763834,0.093649,0.099715,-0.054061,-0.473826
25,True,mse,12.0,0.5,None,5,10,150,9,20.694226,0.117802,-1.763986,0.093486,0.099601,-0.054117,-0.473953
28,True,mse,12.0,0.5,None,5,15,150,10,20.623749,0.116664,-1.764030,0.093442,0.099545,-0.054139,-0.474013
33,True,mse,12.0,0.5,None,10,15,100,11,11.497201,0.071512,-1.764094,0.093385,0.099381,-0.054077,-0.473968
30,True,mse,12.0,0.5,None,10,10,100,11,13.552083,0.078875,-1.764094,0.093385,0.099381,-0.054077,-0.473968
10,True,mse,NaN,0.5,None,10,15,150,13,25.936782,0.173644,-1.764131,0.093223,0.099402,-0.054165,-0.474017
7,True,mse,NaN,0.5,None,10,10,150,13,25.943505,0.174213,-1.764131,0.093223,0.099402,-0.054165,-0.474017
24,True,mse,12.0,0.5,None,5,10,100,15,12.734509,0.076053,-1.764293,0.093174,0.099238,-0.054139,-0.474115
27,True,mse,12.0,0.5,None,5,15,100,16,13.727780,0.078883,-1.764333,0.093131,0.099106,-0.054157,-0.474186
9,True,mse,NaN,0.5,None,10,15,100,17,14.609258,0.106707,-1.765138,0.092192,0.098282,-0.054235,-0.474583
6,True,mse,NaN,0.5,None,10,10,100,17,14.590266,0.106753,-1.765138,0.092192,0.098282,-0.054235,-0.474583
5,True,mse,NaN,0.5,None,5,15,200,19,37.476499,0.258958,-1.765253,0.092046,0.098726,-0.054374,-0.474673
23,True,mse,10.0,0.5,None,10,15,200,20,23.935589,0.126529,-1.766290,0.091145,0.097395,-0.054241,-0.475266
20,True,mse,10.0,0.5,None,10,10,200,20,23.933947,0.126554,-1.766290,0.091145,0.097395,-0.054241,-0.475266
4,True,mse,NaN,0.5,None,5,15,150,22,28.153130,0.195650,-1.766394,0.090880,0.097589,-0.054453,-0.475314
19,True,mse,10.0,0.5,None,10,10,150,23,17.942886,0.095719,-1.766436,0.090994,0.097285,-0.054253,-0.475360
22,True,mse,10.0,0.5,None,10,15,150,23,17.944655,0.095838,-1.766436,0.090994,0.097285,-0.054253,-0.475360
2,True,mse,NaN,0.5,None,5,10,200,25,36.213916,0.276480,-1.766627,0.090651,0.097204,-0.054484,-0.475413
21,True,mse,10.0,0.5,None,10,15,100,26,10.160641,0.058570,-1.766690,0.090732,0.097015,-0.054271,-0.475507
18,True,mse,10.0,0.5,None,10,10,100,26,10.564600,0.061932,-1.766690,0.090732,0.097015,-0.054271,-0.475507
14,True,mse,10.0,0.5,None,5,10,200,28,22.688361,0.125966,-1.766728,0.090705,0.096894,-0.054303,-0.475540
12,True,mse,10.0,0.5,None,5,10,100,29,10.222217,0.058348,-1.767007,0.090418,0.096603,-0.054314,-0.475681
13,True,mse,10.0,0.5,None,5,10,150,30,18.050254,0.090782,-1.767056,0.090369,0.096532,-0.054321,-0.475731
17,True,mse,10.0,0.5,None,5,15,200,31,23.685240,0.119306,-1.767108,0.090315,0.096480,-0.054322,-0.475737
1,True,mse,NaN,0.5,None,5,10,150,32,28.494236,0.206792,-1.767476,0.089771,0.096393,-0.054547,-0.475894
15,True,mse,10.0,0.5,None,5,15,100,33,11.150094,0.061567,-1.767479,0.089937,0.096099,-0.054340,-0.475951
16,True,mse,10.0,0.5,None,5,15,150,34,18.091139,0.094697,-1.767498,0.089917,0.096063,-0.054346,-0.475979
3,True,mse,NaN,0.5,None,5,15,100,35,17.286590,0.125667,-1.767824,0.089423,0.095992,-0.054557,-0.476138
0,True,mse,NaN,0.5,None,5,10,100,36,19.030939,0.140795,-1.768006,0.089228,0.095694,-0.054585,-0.476235

In [12]:
# SVR
svr = SVR()
params = {
    'kernel': ['rbf'],
    'gamma': [0.001, 0.01, 0.1, 1],
    'C': [0.01, 0.1, 1.0, 10.0]
}

model = GridSearchCV(
    estimator = svr,
    param_grid = params,
    scoring = ['neg_root_mean_squared_error', 'r2', 'explained_variance', 'neg_mean_squared_log_error', 'neg_mean_poisson_deviance'], 
    refit = 'neg_root_mean_squared_error',
    cv = 3,
    n_jobs = 3
)

model.fit(X, y)

GridSearchCV(cv=3, estimator=SVR(), n_jobs=3,
             param_grid={'C': [0.01, 0.1, 1.0, 10.0],
                         'gamma': [0.001, 0.01, 0.1, 1], 'kernel': ['rbf']},
             refit='neg_root_mean_squared_error',
             scoring=['neg_root_mean_squared_error', 'r2', 'explained_variance',
                      'neg_mean_squared_log_error',
                      'neg_mean_poisson_deviance'])

In [13]:
d = pd.concat([pd.DataFrame(model.cv_results_["params"])
              ,pd.DataFrame(model.cv_results_['rank_test_neg_root_mean_squared_error'], columns=['Rank'])
              ,pd.DataFrame(model.cv_results_['mean_fit_time'], columns=['Fit Time'])
              ,pd.DataFrame(model.cv_results_['mean_score_time'], columns=['Score Time'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_root_mean_squared_error'], columns=['RMSE'])
              ,pd.DataFrame(model.cv_results_['mean_test_r2'], columns=['R2'])
              ,pd.DataFrame(model.cv_results_['mean_test_explained_variance'], columns=['EV'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_squared_log_error'], columns=['MSLE'])
              ,pd.DataFrame(model.cv_results_['mean_test_neg_mean_poisson_deviance'], columns=['MPD'])]
              ,axis=1)

d = d.sort_values(by = ['Rank', 'Score Time'], ascending=True)
d.to_csv('Results/32PCA-SVR.csv', decimal = ',', sep = ';', index = False)

d

,C,gamma,kernel,Rank,Fit Time,Score Time,RMSE,R2,EV,MSLE,MPD
10,1.00,0.100,rbf,1,67.507461,25.672180,-1.835110,0.020791,0.060236,-0.057046,-0.519502
6,0.10,0.100,rbf,2,65.526377,25.772233,-1.841617,0.013769,0.056806,-0.057100,-0.522463
7,0.10,1.000,rbf,3,65.815510,25.655759,-1.842909,0.012645,0.056603,-0.057280,-0.522202
13,10.00,0.010,rbf,4,71.200921,25.755894,-1.847246,0.007619,0.045912,-0.057814,-0.527251
11,1.00,1.000,rbf,5,115.997715,25.587352,-1.851824,0.003148,0.041524,-0.058556,-0.530163
8,1.00,0.001,rbf,6,83.994366,25.796857,-1.855783,-0.001505,0.039666,-0.057957,-0.531118
2,0.01,0.100,rbf,7,65.976223,25.731250,-1.855802,-0.001545,0.042745,-0.057984,-0.530495
9,1.00,0.010,rbf,8,67.357117,25.768408,-1.855875,-0.001692,0.039945,-0.058065,-0.531744
4,0.10,0.001,rbf,9,83.682698,25.835834,-1.856095,-0.001841,0.039959,-0.057981,-0.530851
5,0.10,0.010,rbf,10,66.926130,25.796932,-1.857296,-0.003166,0.039313,-0.058046,-0.532117
14,10.00,0.100,rbf,11,110.080040,25.676464,-1.857441,-0.003530,0.032909,-0.059162,-0.535142
1,0.01,0.010,rbf,12,66.933584,25.604363,-1.857922,-0.003831,0.038931,-0.058105,-0.531877
12,10.00,0.001,rbf,13,68.080069,25.788571,-1.860100,-0.006266,0.035955,-0.058337,-0.534509
3,0.01,1.000,rbf,14,65.940740,25.702528,-1.866399,-0.012864,0.031298,-0.059104,-0.536917
0,0.01,0.001,rbf,15,67.683183,25.698335,-1.873198,-0.020513,0.022767,-0.059595,-0.541401
15,10.00,1.000,rbf,16,587.160681,25.373701,-1.936204,-0.089580,-0.067890,-0.066768,-0.588396